
body{
	background-color: #eeeeee;
	color: #333;
	display: flex;
 	min-height: 100vh;
  	flex-direction: column;
}
 h2 {
	margin-top:0;
}

section {
	margin: 5vh auto;
}

ul {
	list-style-type: none;
}

li {
	margin: 20px;
}

/**SEARCH BAR**/

input.form-control {
    border-radius: 0;
}
.btn-search {
    background: #E73354;
    color: #fff;
    border-radius: 0;
    
}
/**Filter**/

.select-box {
  	padding: 8px 10px;
    font-size: 1em;
    color: #333;
    position: relative;
    display: table;
    border-collapse: separate;
    .required {
    		float: left;
    		margin-right: 10px;}
    .select {
    		float: left}
}

.btn-filter {
    margin-left: -20px;
    background: #F39324;
    color: #fff;
    border-radius: 0;
    
}

.select {
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
  margin-top: -10px;
}
  .select select {
   	padding: 8px 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
  }


 /**graaphic section**/ 

.container  {
	width: 97%;
	.row { padding: 0px;
	}
	.row-section{ margin-top: 10px;
	}
		
		.gra-2colum{
    		margin: 3px;
    		background: #fff;
    		border: 1px solid #ccc;
    		border-top: none;
    				.graphic-tittle {
			        background: #333;
	    			color: #fff;
	    			padding: 15px;
	    			font-size: 1.5em;
			 }
    	}
		.graphic{
    		margin: 10px 0px;
    		background: #fff;
    		border: 1px solid #ccc;
    		border-top: none;
    	}
			.graphic-tittle-1 {
			        background: #333;
	    			color: #fff;
	    			padding: 15px;
	    			margin: 0 -15px;
	    			font-size: 1.5em;

			 }
			    .graphic-1 {
			    background: #fff;
			    margin-top: 10px;
			    border-top:none; 

        					
				}
.btn-more {
                  background: #00ACD7;
                color: #fff;
                border-radius: 0;
                float: right;
                margin: -7px;
    
}




}


