color1 {
            
            background: #E73354;
            border-top: none;
            height: 20px;
            margin: 0 10px; 
            padding: 20px;
            position:relative;
        }




.option1 {
    		
    		background: #E73354;
    		border-top: none;
    		height: 180px;
    		margin: 0 10px; 
    		padding: 20px;
    		position:relative;
    	}
.option2 {
    		
    		background: #00ACD7;
    		border-top: none;
    		height: 100px;
    		margin: 0 10px; 
    		padding: 20px;
    		position:relative;
    		bottom: 0;
    	}
 .option3 {
    		
    		    background: #606060;
	    		border-top: none;
	    		height: 200px;
	    		margin: 0 10px; 
	    		padding: 20px;
   

    	}
  .option4 {
    		
    		background: #F39324;
    		border-top: none;
    		height: 100px;
    		margin: 0 10px; 
    		padding: 20px;

    	}

 .option5 {
    		
    		background: #35AA3F;
    		border-top: none;
    		height: 180px;
    		margin: 0 10px; 
    		padding: 20px;
    		position:relative;
    	}
.option6 {
    		
    		background: #00ACD7;
    		border-top: none;
    		height: 100px;
    		margin: 0 10px; 
    		padding: 20px;
    		position:relative;
    		bottom: 0;
    	}
 .option7 {
    		
    		    background: #606060;
	    		border-top: none;
	    		height: 200px;
	    		margin: 0 10px; 
	    		padding: 20px;
   

    	}
  .option8 {
    		
    		background: #35AA3F;
    		border-top: none;
    		height: 120px;
    		margin: 0 10px; 
    		padding: 20px;

    	}

  .option9 {
    		
    		    background: #F39324;
	    		border-top: none;
	    		height: 200px;
	    		margin: 0 10px; 
	    		padding: 20px;
   

    	}
  .option10 {
    		
    		background: #606060;
    		border-top: none;
    		height: 180px;
    		margin: 0 10px; 
    		padding: 20px;

    	}
  .option11 {
    		
    		background: #E73354;
    		border-top: none;
    		height: 180px;
    		margin: 0 10px; 
    		padding: 20px;
    		position:relative;
    	}
.option12 {
    		
    		background: #00ACD7;
    		border-top: none;
    		height: 100px;
    		margin: 0 10px; 
    		padding: 20px;
    		position:relative;
    		bottom: 0;
    	}


