/*@imports*/
/***********************************
Font-face config
************************************/
@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nokia_pure_headlinelight';
  src: url("../fonts/nokiapureheadline_light-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nokia_pure_headlineultraLt';
  src: url("../fonts/nokiapureheadline_ultralight-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 2, _mainsection.scss */
body {
  background-color: #eeeeee;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 9, _mainsection.scss */
h2 {
  margin-top: 0; }

/* line 13, _mainsection.scss */
section {
  margin: 5vh auto; }

/* line 17, _mainsection.scss */
ul {
  list-style-type: none; }

/* line 21, _mainsection.scss */
li {
  margin: 20px; }

/**SEARCH BAR**/
/* line 27, _mainsection.scss */
input.form-control {
  border-radius: 0; }

/* line 30, _mainsection.scss */
.btn-search {
  background: #E73354;
  color: #fff;
  border-radius: 0; }

/**Filter**/
/* line 38, _mainsection.scss */
.select-box {
  padding: 8px 10px;
  font-size: 1em;
  color: #333;
  position: relative;
  display: table;
  border-collapse: separate; }
  /* line 45, _mainsection.scss */
  .select-box .required {
    float: left;
    margin-right: 10px; }
  /* line 48, _mainsection.scss */
  .select-box .select {
    float: left; }

/* line 52, _mainsection.scss */
.btn-filter {
  margin-left: -20px;
  background: #F39324;
  color: #fff;
  border-radius: 0; }

/* line 60, _mainsection.scss */
.select {
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
  margin-top: -10px; }

/* line 66, _mainsection.scss */
.select select {
  padding: 8px 10px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none; }

/**graaphic section**/
/* line 77, _mainsection.scss */
.container {
  width: 97%; }
  /* line 79, _mainsection.scss */
  .container .row {
    padding: 0px; }
  /* line 81, _mainsection.scss */
  .container .row-section {
    margin-top: 10px; }
  /* line 84, _mainsection.scss */
  .container .gra-2colum {
    margin: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none; }
    /* line 89, _mainsection.scss */
    .container .gra-2colum .graphic-tittle {
      background: #333;
      color: #fff;
      padding: 15px;
      font-size: 1.5em; }
  /* line 96, _mainsection.scss */
  .container .graphic {
    margin: 10px 0px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none; }
  /* line 102, _mainsection.scss */
  .container .graphic-tittle-1 {
    background: #333;
    color: #fff;
    padding: 15px;
    margin: 0 -15px;
    font-size: 1.5em; }
  /* line 110, _mainsection.scss */
  .container .graphic-1 {
    background: #fff;
    margin-top: 10px;
    border-top: none; }
  /* line 117, _mainsection.scss */
  .container .btn-more {
    background: #00ACD7;
    color: #fff;
    border-radius: 0;
    float: right;
    margin: -7px; }

/** General Styles Graphic Bar**/
/* line 3, _options-bar.scss */
.graphic-options-1 li {
  margin: 10px !important; }

/* line 7, _options-bar.scss */
.graphic-options-2 {
  margin-bottom: 60px; }

/* line 11, _options-bar.scss */
.horizontal-options {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 16px 70px; }

/* line 17, _options-bar.scss */
.horizontal-text {
  margin-top: 25px;
  position: absolute;
  bottom: -50px; }

/* line 26, _options-bar.scss */
.horizontal-colors {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: -5px; }
  /* line 29, _options-bar.scss */
  .horizontal-colors .horizontal-text-color {
    margin-top: 10px;
    float: left; }

/* line 34, _options-bar.scss */
[class^='eje-'] {
  left: 0;
  bottom: 1rem;
  width: 100%;
  height: 115px; }

/* line 41, _options-bar.scss */
.eje-y li {
  height: 30%;
  border-top: 1px solid #ccc; }

/* line 45, _options-bar.scss */
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem; }

/* line 55, _options-bar.scss */
.options {
  height: 295px;
  width: 20%; }

/** Option colors Graphic Bar**/
/* line 61, _options-bar.scss */
.color1 {
  background: #E73354;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/* line 68, _options-bar.scss */
.color2 {
  background: #00ACD7;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/* line 75, _options-bar.scss */
.color3 {
  background: #606060;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/* line 82, _options-bar.scss */
.color4 {
  background: #F39324;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/* line 89, _options-bar.scss */
.color5 {
  background: #35AA3F;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/* line 96, _options-bar.scss */
.color6 {
  background: #00ACD7;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/** Porcentual options Graphic Bar**/
/* line 107, _options-bar.scss */
.option1 {
  background: #E73354;
  border-top: none;
  height: 20%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 117, _options-bar.scss */
.option2 {
  background: #00ACD7;
  border-top: none;
  height: 20%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 127, _options-bar.scss */
.option3 {
  background: #606060;
  border-top: none;
  height: 50%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 138, _options-bar.scss */
.option4 {
  background: #F39324;
  border-top: none;
  height: 30%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 150, _options-bar.scss */
.option5 {
  background: #35AA3F;
  border-top: none;
  height: 40%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 160, _options-bar.scss */
.option6 {
  background: #00ACD7;
  border-top: none;
  height: 10%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 170, _options-bar.scss */
.option7 {
  background: #606060;
  border-top: none;
  height: 70%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 182, _options-bar.scss */
.option8 {
  background: #35AA3F;
  border-top: none;
  height: 70%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 194, _options-bar.scss */
.option9 {
  background: #F39324;
  border-top: none;
  height: 80%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/* line 205, _options-bar.scss */
.option10 {
  background: #606060;
  border-top: none;
  height: 90%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/** Progress graphic bar general**/
/* line 5, _options-progress-bar.scss */
.progress-general-container {
  margin: 20px; }
  /* line 7, _options-progress-bar.scss */
  .progress-general-container .progress {
    height: 20px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #eaeaea;
    border-radius: 0;
    box-shadow: none; }
  /* line 19, _options-progress-bar.scss */
  .progress-general-container .progress-text {
    right: 15px;
    bottom: 100%;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s; }

/** Progress graphic colors **/
/* line 35, _options-progress-bar.scss */
.progress-colors {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto; }
  /* line 38, _options-progress-bar.scss */
  .progress-colors .progress-text-color {
    float: left;
    margin: 10px; }
  /* line 42, _options-progress-bar.scss */
  .progress-colors .progress-color1 {
    background: #E73354;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  /* line 49, _options-progress-bar.scss */
  .progress-colors .progress-color2 {
    background: #00ACD7;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  /* line 56, _options-progress-bar.scss */
  .progress-colors .progress-color3 {
    background: #F39324;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  /* line 63, _options-progress-bar.scss */
  .progress-colors .progress-color4 {
    background: #35AA3F;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }

/** Porcentual options Graphic Bar**/
/* line 77, _options-progress-bar.scss */
.progress-bar-1 {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

/* line 90, _options-progress-bar.scss */
.progress-bar-2 {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

/* line 103, _options-progress-bar.scss */
.progress-bar-3 {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

/* line 116, _options-progress-bar.scss */
.progress-bar-4 {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

/** graphic graphic bar general**/
/* line 5, _options-graphic-bar.scss */
.graphic-general-container {
  margin: 20px; }
  /* line 7, _options-graphic-bar.scss */
  .graphic-general-container .graphic {
    height: 20px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #eaeaea;
    border-radius: 0;
    box-shadow: none; }
  /* line 19, _options-graphic-bar.scss */
  .graphic-general-container .graphic-label {
    float: left; }
  /* line 22, _options-graphic-bar.scss */
  .graphic-general-container .graphic-text {
    right: 15px;
    bottom: 100%;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s; }

/** graphic graphic colors **/
/* line 38, _options-graphic-bar.scss */
.graphic-colors {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto; }
  /* line 41, _options-graphic-bar.scss */
  .graphic-colors .graphic-text-color {
    float: left;
    margin: 10px; }
  /* line 45, _options-graphic-bar.scss */
  .graphic-colors .graphic-color1 {
    background: #E73354;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  /* line 52, _options-graphic-bar.scss */
  .graphic-colors .graphic-color2 {
    background: #00ACD7;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  /* line 59, _options-graphic-bar.scss */
  .graphic-colors .graphic-color3 {
    background: #F39324;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  /* line 66, _options-graphic-bar.scss */
  .graphic-colors .graphic-color4 {
    background: #35AA3F;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }

/** Porcentual options Graphic Bar**/
/* line 80, _options-graphic-bar.scss */
.graphic-bar-1 {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

/* line 93, _options-graphic-bar.scss */
.graphic-bar-2 {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

/* line 106, _options-graphic-bar.scss */
.graphic-bar-3 {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

/* line 119, _options-graphic-bar.scss */
.graphic-bar-4 {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

/* line 131, _options-graphic-bar.scss */
.graphic-bar-5 {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

/* line 144, _options-graphic-bar.scss */
.graphic-bar-6 {
  float: left;
  width: 70%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

/* line 157, _options-graphic-bar.scss */
.graphic-bar-7 {
  float: left;
  width: 25%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

/* line 170, _options-graphic-bar.scss */
.graphic-bar-8 {
  float: left;
  width: 10%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

/* line 183, _options-graphic-bar.scss */
.graphic-bar-9 {
  float: left;
  width: 15%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

/* line 196, _options-graphic-bar.scss */
.graphic-bar-10 {
  float: left;
  width: 30%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

/* line 209, _options-graphic-bar.scss */
.graphic-bar-11 {
  float: left;
  width: 45%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

/* line 222, _options-graphic-bar.scss */
.graphic-bar-12 {
  float: left;
  width: 100%;
  height: 90%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

/* line 1, _import.scss */
.import {
  width: 600px; }
  /* line 6, _import.scss */
  .import .import-progress-container {
    height: 20px;
    margin-bottom: 50px;
    overflow: visible; }
  /* line 12, _import.scss */
  .import .import-progress {
    height: 10px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #eaeaea;
    border-radius: 0;
    box-shadow: none;
    clear: both; }

/* line 25, _import.scss */
.drag-content {
  text-align: center; }

/* line 28, _import.scss */
.picture-upload {
  float: left;
  margin: 5px 6px 5px 0px; }

/* line 32, _import.scss */
.close-upload {
  float: right;
  margin: 5px 0px; }

/* line 38, _import.scss */
.import-upload {
  top: 2px; }

/* line 42, _import.scss */
.complete {
  text-align: left;
  clear: both;
  color: #999; }

/* line 47, _import.scss */
.upload-control {
  color: #fff;
  border: none;
  border-radius: 0px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  background-color: #5bc0de; }

/* line 55, _import.scss */
.upload {
  padding: 20px;
  border: 1px solid #999;
  font-size: 30px;
  color: #999;
  margin: 20px;
  border-radius: 50px; }

/* line 63, _import.scss */
.doc-upload {
  float: left;
  margin: 5px 6px 5px 0px; }

/* line 67, _import.scss */
.drag {
  background: #eee;
  padding: 20px;
  height: 200px;
  margin: 20px;
  border: 1px dotted #999; }
  /* line 74, _import.scss */
  .drag p {
    text-align: center;
    font-weight: 700; }

/* line 81, _import.scss */
.import-progress-text h5 {
  float: left; }

/* line 85, _import.scss */
.import-progress-bar-1 {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

/*# sourceMappingURL=style.css.map */