#header{
	.navbar-top{
	    color: $white;
	    margin-bottom: 30px;
	    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

	    .navbar-inverse{
			background-color: rgba(0, 0, 0, 0.85);
  			border-color: rgba(0, 0, 0, 0.85);
  			min-height: 45px;
  			font-size: 13px;
	    }
	    .profile-menu{
    		span { color: $black; }
	    	.navbar-content{
				width: 490px;
				padding: 15px;
				padding-bottom: 0px;
	    	}
	    	a { font-size: 13px; }
	    	a.btn {
			    padding: 5px !important;
			    span { color: #fff; }
			}

			#img-avatar {
				margin: 20px auto;
				max-width: 160px;
				position: relative;
				overflow: hidden;
				height: 160px;
				max-height: 160px;

				img {
					bottom: -9999px;
					height: 160px;
					left: -9999px;
					right: -9999px;
					top: -9999px;
					width: auto;
					margin: auto;
					position: absolute;
					z-index: 1;
				}
			}
	    }
	}
	.navbar{
		margin-bottom:5px;
		.lang{
			a{
				color: $black;
				padding: 8px 15px;
				&:hover{
					color: $white;
				}
			}
		}
	}

	.navbar-fixed-top{
		.navbar-collapse{
			max-height: initial;
		}
	}
	.navbar-brand{
		padding: 11px 15px;
		height: initial;
		> img {
			height: 22px;
			width: auto;
		}
	}
	.navbar-fixed-top{
		margin-bottom:0px;
		.navbar-nav{
			a{
				padding-top: 11.5px;
				padding-bottom: 11.5px;
			}
		}
		.navbar-collapse{
			max-height: initial;
		}
		.dropdown-menu{
			a{
				font-size: 13px;
			}
		}
	}


	.logo-app{
		margin-bottom: 10px;
		margin-top: 50px;
		img{
			height: auto;
			max-width: 184px;
		}
		.search-main{
			margin-top: 20px;
			.btn-default {
				color: $white;
				background-color: lighten($black, 25%);
				border-color: lighten($black, 25%);
			}
		}
	}

	/* Special class on .container surrounding .navbar, used for positioning it into place. */
	.navbar-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		/* Flip around the padding for proper display in narrow viewports */
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.navbar {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.navbar-content{
		width:320px;
		padding: 15px;
		padding-bottom:0px;
		&:before, &:after{
			display: table;
			content: "";
			line-height: 0;
		}
	}

	.navbar-nav.navbar-right { margin-right: 0px !important; }
	.navbar-footer { background-color:#DDD; }
	.navbar-footer-content { padding:15px 15px 15px 15px; }


	//@extend-elements
	//original selectors
	//.megamenu >li ul >li >a:hover, .megamenu >li ul >li >a:focus
	%hover {
		text-decoration: none;
		color: $white;
		background-color: $light-blue;

	}

	//original selectors
	//.megamenu.disabled >a:hover, .megamenu.disabled >a:focus
	%focus {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		cursor: not-allowed;
	}


	.menu-large {
		position: static !important;
	}
	.megamenu {
		padding: 20px 0;
		width: 100%;

		.dropdown-header{
			font-size: 16px;
			color: $main-color;
			font-family: $nokiafont-bold;
		}

		> li {
			> ul {
				padding: 0;
				margin: 0;
				> li {
					list-style: none;
					> a {
						display: block;
						padding: 3px 20px;
						clear: both;
						font-weight: normal;
						font-size: 15px;
						line-height: 1.428571429;
						color: #333333;
						white-space: normal;
					}
				}
			}
			ul > li > a {
				&:hover {
					@extend %hover;
				}
				&:focus {
					@extend %hover;
				}
			}
		}
		&.dropdown-header {
			color: #428bca;
			font-size: 18px;
		}
		&.disabled > a {
			color: #999999;
			&:hover {
				color: #999999;
				@extend %focus;
			}
			&:focus {
				color: #999999;
				@extend %focus;
			}
		}
	}
	@media(max-width: 768px) {
		.megamenu {
			margin-left: 0;
			margin-right: 0;
			> li {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&.dropdown-header {
				padding: 3px 15px !important;
			}
		}
		.navbar-nav .open .dropdown-menu .dropdown-header {
			color: $white;
		}
	}


}

.breadcrumb{
	background: initial;
	margin: 5px 0 10px 0;

	li{
		font-size: 13px;

		a{
			color: $grey;
		}
	}
}
