/** General Styles Graphic Bar**/

.graphic-options-1 li {
    margin: 10px !important;
}

.graphic-options-2 {
    margin-bottom: 60px;
}

.horizontal-options { 
                                display: inline-flex;
                                    align-items: center;
    width: 95%;
    margin: 16px 70px;
                        }
                        .horizontal-text { 
                                    margin-top: 25px;
    position: absolute;
    bottom: -50px;

    }



.horizontal-colors {
    display: inline-flex;
        margin-bottom: -5px;
.horizontal-text-color { 
                            margin-top:10px;
                            float: left;
    }
}
[class^='eje-'] {
     left: 0;
    bottom: 1rem;
    width: 100%;
    height: 115px;
}

.eje-y li {
  height: 30%;
  border-top: 1px solid #ccc;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.options {
    height: 295px;
    width: 20%;
}
/** Option colors Graphic Bar**/

.color1 {
    background: #E73354;
    width: 20px;
    height: 20px;
    float:left;
    margin: 7px;
}
.color2 {
    background: #00ACD7;
    width: 20px;
    height: 20px;
    float:left;
    margin: 7px;
}
.color3 {
    background: #606060;
    width: 20px;
    height: 20px;
    float:left;
    margin: 7px;
}
.color4 {
    background: #F39324;
    width: 20px;
    height: 20px;
    float:left;
    margin: 7px;
}
.color5 {
    background: #35AA3F;
    width: 20px;
    height: 20px;
    float:left;
    margin: 7px;
}
.color6 {
    background: #00ACD7;
    width: 20px;
    height: 20px;
    float:left;
    margin: 7px;
}


/** Porcentual options Graphic Bar**/

.option1 {
    		
    		    background: #E73354;
                border-top: none;
                height: 20%;
                margin: 0 5px;
                padding: 20px;
                position: absolute;
              bottom: -5px;
    	}
.option2 {
    		
    		background: #00ACD7;
    		border-top: none;
             height: 20%;
             margin: 0 5px;
                padding: 20px;
                position: absolute;
              bottom: -5px;
    	}
 .option3 {
    		
    		    background: #606060;
	    		border-top: none;
	    		height: 50%;
	    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;

    	}
  .option4 {
    		
    		background: #F39324;
    		border-top: none;
    		height: 30%;
    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;

    	}

 .option5 {
    		
    		background: #35AA3F;
    		border-top: none;
    		height: 40%;
    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;
    	}
.option6 {
    		
    		background: #00ACD7;
    		border-top: none;
    		height: 10%;
    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;
    	}
 .option7 {
    		
    		    background: #606060;
	    		border-top: none;
	    		height: 70%;
	    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;
   

    	}
  .option8 {
    		
    		background: #35AA3F;
    		border-top: none;
    		height: 70%;
    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;

    	}

  .option9 {
    		
    		    background: #F39324;
	    		border-top: none;
	    		height: 80%;
	    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;

    	}
  .option10 {
    		
    		background: #606060;
    		border-top: none;
    		height:90%;
    		margin: 0 5px;
    padding: 20px;
    position: absolute;
  bottom: -5px;
    	}

