.logo-header{
		th{
			background-color: white;	
		}
		.print_claro_logo{
			text-align: left;
		}
		.print_nokia_logo{
			text-align: right;
		}
	}
.table-invoices{
	border: solid 1px #333333;
	text-align: center;

	.table-title th{
    	background-color: #ff6600;
	}
	.table-cols th{
	    background-color: #ff9900;
	}

	tbody td{
		
	}

	


}