/*@imports*/
/***********************************
Font-face config
************************************/
@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nokia_pure_headlinelight';
  src: url("../fonts/nokiapureheadline_light-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nokia_pure_headlineultraLt';
  src: url("../fonts/nokiapureheadline_ultralight-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.the-content .the-chart {
  background: white;
  margin-bottom: 20px; }
  .the-content .the-chart .mapcontainer .map {
    height: 600px; }
  .the-content .the-chart .mapcontainer svg {
    height: 100%; }
  .the-content .the-chart .chart-title {
    background: #10476f;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0;
    padding: 15px; }
  .the-content .the-chart .chart-body {
    padding: 20px; }
  .the-content .the-chart .chart-container {
    border: 1px solid #dadada;
    border-radius: 3px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 30px 10px; }

/** General Styles Graphic Bar**/
.graphic-options-1 li {
  margin: 10px !important; }

.graphic-options-2 {
  margin-bottom: 60px; }

.horizontal-options {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 16px 70px; }

.horizontal-text {
  margin-top: 25px;
  position: absolute;
  bottom: -50px; }

.horizontal-colors {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: -5px; }
  .horizontal-colors .horizontal-text-color {
    margin-top: 10px;
    float: left; }

[class^='eje-'] {
  left: 0;
  bottom: 1rem;
  width: 100%;
  height: 115px; }

.eje-y li {
  height: 30%;
  border-top: 1px solid #ccc; }

[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem; }

.options {
  height: 295px;
  width: 20%; }

/** Option colors Graphic Bar**/
.color1 {
  background: #E73354;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

.color2 {
  background: #00ACD7;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

.color3 {
  background: #606060;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

.color4 {
  background: #F39324;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

.color5 {
  background: #35AA3F;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

.color6 {
  background: #00ACD7;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px; }

/** Porcentual options Graphic Bar**/
.option1 {
  background: #E73354;
  border-top: none;
  height: 20%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option2 {
  background: #00ACD7;
  border-top: none;
  height: 20%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option3 {
  background: #606060;
  border-top: none;
  height: 50%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option4 {
  background: #F39324;
  border-top: none;
  height: 30%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option5 {
  background: #35AA3F;
  border-top: none;
  height: 40%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option6 {
  background: #00ACD7;
  border-top: none;
  height: 10%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option7 {
  background: #606060;
  border-top: none;
  height: 70%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option8 {
  background: #35AA3F;
  border-top: none;
  height: 70%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option9 {
  background: #F39324;
  border-top: none;
  height: 80%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

.option10 {
  background: #606060;
  border-top: none;
  height: 90%;
  margin: 0 5px;
  padding: 20px;
  position: absolute;
  bottom: -5px; }

/** Progress graphic bar general**/
.progress-general-container {
  margin: 20px; }
  .progress-general-container .progress {
    height: 20px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #eaeaea;
    border-radius: 0;
    box-shadow: none; }
  .progress-general-container .progress-text {
    right: 15px;
    bottom: 100%;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s; }

/** Progress graphic colors **/
.progress-colors {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto; }
  .progress-colors .progress-text-color {
    float: left;
    margin: 10px; }
  .progress-colors .progress-color1 {
    background: #E73354;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  .progress-colors .progress-color2 {
    background: #00ACD7;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  .progress-colors .progress-color3 {
    background: #F39324;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  .progress-colors .progress-color4 {
    background: #35AA3F;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }

/** Porcentual options Graphic Bar**/
.progress-bar-1 {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

.progress-bar-2 {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

.progress-bar-3 {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

.progress-bar-4 {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

/** graphic graphic bar general**/
.graphic-general-container {
  margin: 20px; }
  .graphic-general-container .graphic {
    height: 20px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #eaeaea;
    border-radius: 0;
    box-shadow: none; }
  .graphic-general-container .graphic-label {
    float: left; }
  .graphic-general-container .graphic-text {
    right: 15px;
    bottom: 100%;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s; }

/** graphic graphic colors **/
.graphic-colors {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto; }
  .graphic-colors .graphic-text-color {
    float: left;
    margin: 10px; }
  .graphic-colors .graphic-color1 {
    background: #E73354;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  .graphic-colors .graphic-color2 {
    background: #00ACD7;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  .graphic-colors .graphic-color3 {
    background: #F39324;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }
  .graphic-colors .graphic-color4 {
    background: #35AA3F;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px; }

/** Porcentual options Graphic Bar**/
.graphic-bar-1 {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

.graphic-bar-2 {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

.graphic-bar-3 {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

.graphic-bar-4 {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

.graphic-bar-5 {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

.graphic-bar-6 {
  float: left;
  width: 70%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

.graphic-bar-7 {
  float: left;
  width: 25%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

.graphic-bar-8 {
  float: left;
  width: 10%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

.graphic-bar-9 {
  float: left;
  width: 15%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

.graphic-bar-10 {
  float: left;
  width: 30%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #00ACD7;
  box-shadow: none; }

.graphic-bar-11 {
  float: left;
  width: 45%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F39324;
  box-shadow: none; }

.graphic-bar-12 {
  float: left;
  width: 100%;
  height: 90%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #35AA3F;
  box-shadow: none; }

.import {
  width: 600px; }
  .import .import-progress-container {
    height: 20px;
    margin-bottom: 50px;
    overflow: visible; }
  .import .import-progress {
    height: 10px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #eaeaea;
    border-radius: 0;
    box-shadow: none;
    clear: both; }

.drag-content {
  text-align: center; }

.picture-upload {
  float: left;
  margin: 5px 6px 5px 0px; }

.close-upload {
  float: right;
  margin: 5px 0px; }

.import-upload {
  top: 2px; }

.complete {
  text-align: left;
  clear: both;
  color: #999; }

.upload-control {
  color: #fff;
  border: none;
  border-radius: 0px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  background-color: #5bc0de; }

.upload {
  padding: 20px;
  border: 1px solid #999;
  font-size: 30px;
  color: #999;
  margin: 20px;
  border-radius: 50px; }

.doc-upload {
  float: left;
  margin: 5px 6px 5px 0px; }

.drag {
  background: #eee;
  padding: 20px;
  height: 200px;
  margin: 20px;
  border: 1px dotted #999; }
  .drag p {
    text-align: center;
    font-weight: 700; }

.import-progress-text h5 {
  float: left; }

.import-progress-bar-1 {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #E73354;
  box-shadow: none; }

/*# sourceMappingURL=style.css.map */